<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/MichaelNovo/Desktop/v1_intro.mov</key>
	<data>
	Ym9va7wCAAAAAAQQMAAAAMLJxTAPG4mtKXDV4Bqe7WvWht852VK+hiTJd8UQCS/ouAEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAALAAAAAQEAAE1pY2hhZWxOb3ZvAAcA
	AAABAQAARGVza3RvcAAMAAAAAQEAAHYxX2ludHJvLm1vdhAAAAABBgAAEAAAACAAAAA0
	AAAARAAAAAgAAAAEAwAA+WYCAAAAAAAIAAAABAMAACk2CQAAAAAACAAAAAQDAACmNgkA
	AAAAAAgAAAAEAwAA1LtHAAAAAAAQAAAAAQYAAHAAAACAAAAAkAAAAKAAAAAIAAAAAAQA
	AEG6IB6bAAAAGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAIA
	AAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3No
	IEhECAAAAAQDAAAAAAAydAAAAAgAAAAABAAAQblescYAAAAkAAAAAQEAAEU3MUVCQTIz
	LTExQTItMzI5Mi1CQ0M3LUE1M0M4QUI3MUM5MBgAAAABAgAAgQAAAAEACADvFwAAAQAI
	AAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQ
	AABYAAAAAAAAAAUQAACwAAAAAAAAABAQAADYAAAAAAAAAEAQAADIAAAAAAAAAAIgAACk
	AQAAAAAAAAUgAAAUAQAAAAAAABAgAAAkAQAAAAAAABEgAABYAQAAAAAAABIgAAA4AQAA
	AAAAABMgAABIAQAAAAAAACAgAACEAQAAAAAAADAgAACwAQAAAAAAAAHAAAD4AAAAAAAA
	ABHAAAAgAAAAAAAAABLAAAAIAQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>/Users/MichaelNovo/Desktop/v1_intro_edit.mp4</key>
	<data>
	Ym9va8QCAAAAAAQQMAAAAAYzBnD21Wu3blRs+CUplMIdOX3PVcDdnalAqbU3IHLHwAEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAALAAAAAQEAAE1pY2hhZWxOb3ZvAAcA
	AAABAQAARGVza3RvcAARAAAAAQEAAHYxX2ludHJvX2VkaXQubXA0AAAAEAAAAAEGAAAQ
	AAAAIAAAADQAAABEAAAACAAAAAQDAAD5ZgIAAAAAAAgAAAAEAwAAKTYJAAAAAAAIAAAA
	BAMAAKY2CQAAAAAACAAAAAQDAADNvkcAAAAAABAAAAABBgAAeAAAAIgAAACYAAAAqAAA
	AAgAAAAABAAAQbogIFIAAAAYAAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgA
	AAAEAwAAAgAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABN
	YWNpbnRvc2ggSEQIAAAABAMAAAAAADJ0AAAACAAAAAAEAABBuV6xxgAAACQAAAABAQAA
	RTcxRUJBMjMtMTFBMi0zMjkyLUJDQzctQTUzQzhBQjcxQzkwGAAAAAECAACBAAAAAQAI
	AO8XAAABAAgAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAMwAAAD+////AQAAAAAA
	AAAQAAAABBAAAGAAAAAAAAAABRAAALgAAAAAAAAAEBAAAOAAAAAAAAAAQBAAANAAAAAA
	AAAAAiAAAKwBAAAAAAAABSAAABwBAAAAAAAAECAAACwBAAAAAAAAESAAAGABAAAAAAAA
	EiAAAEABAAAAAAAAEyAAAFABAAAAAAAAICAAAIwBAAAAAAAAMCAAALgBAAAAAAAAAcAA
	AAABAAAAAAAAEcAAACAAAAAAAAAAEsAAABABAAAAAAAAENAAAAQAAAAAAAAA
	</data>
	<key>/Users/MichaelNovo/Desktop/version1_end_edit.mp4</key>
	<data>
	Ym9va8gCAAAAAAQQMAAAAEoDb9ZAUni7WgsBX3wQkFDMuK5+mz00fYn3ODzRVJfYxAEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAALAAAAAQEAAE1pY2hhZWxOb3ZvAAcA
	AAABAQAARGVza3RvcAAVAAAAAQEAAHZlcnNpb24xX2VuZF9lZGl0Lm1wNAAAABAAAAAB
	BgAAEAAAACAAAAA0AAAARAAAAAgAAAAEAwAA+WYCAAAAAAAIAAAABAMAACk2CQAAAAAA
	CAAAAAQDAACmNgkAAAAAAAgAAAAEAwAAy95HAAAAAAAQAAAAAQYAAHwAAACMAAAAnAAA
	AKwAAAAIAAAAAAQAAEG6IECCAAAAGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAA
	AAAIAAAABAMAAAIAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAAB
	AQAATWFjaW50b3NoIEhECAAAAAQDAAAAAAAydAAAAAgAAAAABAAAQblescYAAAAkAAAA
	AQEAAEU3MUVCQTIzLTExQTItMzI5Mi1CQ0M3LUE1M0M4QUI3MUM5MBgAAAABAgAAgQAA
	AAEACADvFwAAAQAIAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v///wEA
	AAAAAAAAEAAAAAQQAABkAAAAAAAAAAUQAAC8AAAAAAAAABAQAADkAAAAAAAAAEAQAADU
	AAAAAAAAAAIgAACwAQAAAAAAAAUgAAAgAQAAAAAAABAgAAAwAQAAAAAAABEgAABkAQAA
	AAAAABIgAABEAQAAAAAAABMgAABUAQAAAAAAACAgAACQAQAAAAAAADAgAAC8AQAAAAAA
	AAHAAAAEAQAAAAAAABHAAAAgAAAAAAAAABLAAAAUAQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
</dict>
</plist>
